<div class="feed-container">
  <!-- Barra de navegación lateral -->
  <aside class="sidebar">
    <nav>
      <ul>
        <li><%= link_to '<i class="fas fa-home"></i>'.html_safe, root_path %></li>
        <li class="notifications">
          <div class="count">
            <span><%= @notifications_count %></span>
          </div>
          <a href="#" id="notification-toggle">
            <i class="fas fa-bell"></i>
          </a>
        </li>
        <li>
          <a href="#" id="users-toggle">
            <i class="fas fa-users"></i>
          </a>
        </li>
        <li>
          <%= link_to '<i class="fas fa-sign-out-alt"></i>'.html_safe, destroy_user_session_path, method: :delete, class: 'btn btn-link' %>
        </li>
      </ul>
    </nav>
  </aside>

  <!-- Sección principal de publicaciones -->
  <main class="publications">
    <!-- Formulario para crear una nueva publicación -->
    <div class="publication-form">
      <%= form_with model: Publication.new, local: true do |form| %>
        <div class="form-group">
          <%= form.text_area :description, placeholder: "Escribe tu nueva publicacion aqui", required: true %>
        </div>
        <div class="form-group">
          <%= form.select :tag_type, options_for_select([['Oportunidad!', 'work_opportunity'], ['Diversión', 'funny'], ['Asesoria', 'student_help']]), prompt: "Selecciona una etiqueta" %>
        </div>
        <div class="form-group">
          <%= form.file_field :file_upload, class: "upload-file", accept: "image/*" %>
        </div>
        <div class="form-group">
          <%= form.submit "Publicar", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>

    <!-- Lista de publicaciones -->
    <div class="publication-list">
      <% @publications.active.each do |publication| %>
        <div class="publication">
          <div class="user">
            <i class="fas fa-user"></i>
            <h3 class="username"><%= publication.user.username %></h3>

            <div class="publication-tag-<%= publication.tag_type %>">
              <span><%= publication.tag_name %></span>
            </div>
          </div>
          <p class="description"><%= publication.description %></p>

          <!-- Mostrar imagen según si es un archivo o URL -->
          <div class="publication-image">
            <% if publication.file_url.present? %>
              <%= image_tag publication.file_url %>
            <% end %>
          </div>
          <span class="description"><%= publication.created_at.strftime("%d %b %Y %I:%M %p").downcase %></span>

          <div class="publication-info">
            <%= button_to '<i class="fas fa-thumbs-up"></i>'.html_safe, publication_likes_path(publication), method: :post, data: { turbo: "true" }, class: "like-btn" %>
            <span><i class="fas fa-thumbs-up"></i> <%= publication.likes.count %></span>
            <span><i class="fas fa-comments"></i> <%= publication.comments.count %></span>
          </div>
          <div class="comments-section">
            <h4>Comentarios:</h4>
            <% publication.comments.each do |comment| %>
              <div class="comment">
                <strong><%= comment.emisor_user.username %>:</strong> <%= comment.comment %>
              </div>
            <% end %>
            <%= form_with url: publication_comments_path(publication), local: true do |form| %>
              <%= form.text_area :comment, placeholder: "Responde al último comentario..." %>
              <%= form.submit "Responder", class: "btn btn-secondary" %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </main>

  <!-- Barra lateral de hashtags -->
  <aside class="hashtags">

    <div class="user-active">
      <i class="fas fa-user"></i>
      <h3><%= @current_user.username %></h3>
    </div>

    <h3>En tendencia</h3>
    <ul>
      <% @hashtags_count.each do |hashtag, count| %>
        <div class="hashtags-active">
          <li><%= hashtag %></li>
          <span><%= count %></span>
        </div>
      <% end %>
    </ul>

    <h3>Usuarios activos</h3>
    <ul>
      <% @users.each do |user| %>
        <div class="users-active">
          <li><%= user.username %></li>
          <span class="active-indicator"></span>
        </div>
      <% end %>
    </ul>
  </aside>

  <!-- Cuadro de Usuarios Activos para Seguir -->
  <div id="users-box" class="users-box" style="display: none;">
    <h3>Usuarios</h3>
    <ul>
      <% @users.each do |user| %>
        <li>
          <strong><%= user.username %></strong>
        </li>
      <% end %>
    </ul>
    <button id="users-close">Cerrar</button>
  </div>

  <!-- Cuadro de Notificaciones -->
  <div id="notification-box" class="notification-box" style="display: none;">
    <h3>Notificaciones</h3>
    <ul>
      <% @notifications.each do |notification| %>
        <li>
          <% if notification.notification_type == 'like' %>
            <span>
              <span class="username"><%= notification.emisor_user.username %></span> le dio like a su publicación.
            </span>
          <% elsif notification.notification_type == 'comment' %>
            <span>
              <span class="username"><%= notification.emisor_user.username %></span> comentó en su publicación: 
              <span class="comment-description">"<%= notification.comment %>"</span>.
            </span>
          <% end %>
        </li>
      <% end %>
    </ul>
    <button id="notification-close">Cerrar</button>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    const notificationToggle = document.getElementById('notification-toggle');
    const notificationBox = document.getElementById('notification-box');
    const notificationClose = document.getElementById('notification-close');
    const usersToggle = document.getElementById('users-toggle');
    const usersBox = document.getElementById('users-box');
    const usersClose = document.getElementById('users-close');

    // Mostrar/Ocultar el cuadro de notificaciones
    notificationToggle.addEventListener('click', function(event) {
      event.preventDefault();
      notificationBox.style.display = notificationBox.style.display === 'none' ? 'block' : 'none';
    });

    // Cerrar el cuadro de notificaciones
    notificationClose.addEventListener('click', function() {
      notificationBox.style.display = 'none';
    });

    // Mostrar/Ocultar el cuadro de usuarios
    usersToggle.addEventListener('click', function(event) {
      event.preventDefault();
      usersBox.style.display = usersBox.style.display === 'none' ? 'block' : 'none';
    });

    // Cerrar el cuadro de usuarios
    usersClose.addEventListener('click', function() {
      usersBox.style.display = 'none';
    });
  });
</script>
