<p>Hola <%= @notification.receptor_user.username %>,</p>

<p>Has recibido una nueva notificacion en tu publicaci贸n:</p>

<p><%= @notification.publication.description %></p>

<% if @notification.notification_type == 'like' %>
  <p>
    <p><%= @notification.emisor_user.username %></p> le dio like a su publicaci贸n.
  </p>
<% elsif @notification.notification_type == 'comment' %>
  <p>
    <p><%= @notification.emisor_user.username %></p> coment贸 en su publicaci贸n: 
    <p>"<%= @notification.comment %>"</p>.
  </p>
<% end %>

<p>Saludos,</p>
<p>UCC Space</p>